<% include partials/header %>

<body>
	<div class="wrapper">

        <% include partials/sidebar %>
        
		<!-- Page Content -->
		<div id="content">

            <% include partials/navbar %>

			<!-- Breadcrumb -->
			<!-- Page Title -->
			<div class="row no-margin-padding">
				<div class="col-md-6">
					<h3 class="block-title">Add Doctor</h3>
				</div>
				<div class="col-md-6">
					<ol class="breadcrumb">						
						<li class="breadcrumb-item">
							<a href="index.html">
								<span class="ti-home"></span>
							</a>
                        </li>
                        <li class="breadcrumb-item">Doctors</li>
						<li class="breadcrumb-item active">Add Doctor</li>
					</ol>
				</div>
			</div>
			<!-- /Page Title -->

			<!-- /Breadcrumb -->
			<!-- Main Content -->
			<div class="container-fluid">

				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Add Doctor</h3>
							<form action="/add-doctor" method="POST">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="Doctor-name">Doctor Name</label>
										<input type="text" name="name" class="form-control" placeholder="Doctor name" id="Doctor-name">
									</div>
									<div class="form-group col-md-6">
										<label for="dob">Date Of Birth</label>
										<input type="date" name="dob" placeholder="Date of Birth" class="form-control" id="dob">
                                    </div>
                                    <div class="form-group col-md-6">
										<label for="specialization">Specialization</label>
										<select class="form-control" name="specialization" id="specialization">
											<option value="dental">Dental</option>
											<option value="ortho">Ortho</option>
                                            <option value="general physician">General Physician</option>
                                            <option value="ent">ENT</option>
                                            <option value="nuero surgeon">Nuero Surgeon</option>
										</select>
                                    </div>
									<div class="form-group col-md-6">
										<label for="experience">Experience</label>
										<input type="text" name="experience" placeholder="Experience" class="form-control" id="experience">
									</div>
									<div class="form-group col-md-6">
										<label for="age">Age</label>
										<input type="text" name="age" placeholder="Age" class="form-control" id="age">
									</div>
									<div class="form-group col-md-6">
										<label for="phone">Phone</label>
										<input type="text" name="phone" placeholder="Phone" class="form-control" id="phone">
									</div>
									<div class="form-group col-md-6">
										<label for="email">Email</label>
										<input type="email" name="email" placeholder="email" class="form-control" id="Email">
									</div>
									<div class="form-group col-md-6">
										<label for="gender">Gender</label>
										<select name="gender" class="form-control" id="gender">
											<option value="male">Male</option>
											<option value="female">Female</option>
											<option value="other">Other</option>
										</select>
                                    </div>
            						<div class="form-group col-md-6">
										<label for="about-doctor">Doctor Details</label>
										<textarea name="details" placeholder="Doctor Details" class="form-control" id="about-doctor" rows="3"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
										<label for="password">Password</label>
										<input type="password" name="password" placeholder="Password" class="form-control" id="Password">
									</div>
																		
									<div class="form-check col-md-12 mb-2">
										<div class="text-left">
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" type="checkbox" id="ex-check-2">
												<label class="custom-control-label" for="ex-check-2">Please Confirm</label>
											</div>
										</div>
									</div>
									<div class="form-group col-md-6 mb-3">
										<button type="submit" class="btn btn-primary btn-lg">Submit</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- /Widget Item -->
				</div>
			</div>
			<!-- /Main Content -->
		</div>
		<!-- /Page Content -->
	</div>
	<!-- Back to Top -->
	<a id="back-to-top" href="#" class="back-to-top">
		<span class="ti-angle-up"></span>
	</a>
	<!-- /Back to Top -->
	<!-- Jquery Library-->
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<!-- Popper Library-->
	<script src="/javascripts/popper.min.js"></script>
	<!-- Bootstrap Library-->
    <script src="/javascripts/bootstrap.min.js"></script>
    
    <!-- Datatable  -->
	<script src="/datatable/jquery.dataTables.min.js"></script>
	<script src="/datatable/dataTables.bootstrap4.min.js"></script>
    
	<!-- Custom Script-->
	<script src="/javascripts/custom.js"></script>

</body>


<!-- Mirrored from www.konnectplugins.com/proclinic/Vertical/add-doctor.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 20 Dec 2019 10:59:44 GMT -->
</html>
