<% include partials/header %>
<body class="auth-bg">
	<div class="wrapper">
		<!-- Page Content -->
		<div id="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6 auth-box">
						<div class="proclinic-box-shadow">
							<!-- Page Title -->
							<h3 class="widget-title">Sign Up</h3>
							<!-- /Page Title -->

							<!-- Form -->
							<form class="widget-form" action="/signup" method="POST">
								<div class="form-group row">
									<div class="col-sm-12">
										<input type="text" placeholder="Fullname" name="name" class="form-control">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-12">
										<input type="email" placeholder="Email" name="email" class="form-control">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-12">
										<input type="text" placeholder="Phone Number" name="phone" class="form-control">
									</div>
								</div>
								
								<div class="form-group row">
									<div class="col-sm-12">
										<input type="date" placeholder="Date of Birth" name="dob" class="form-control">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-12">
									<select name="gender" class="form-control" id="gender">
										<option value="male">Male</option>
										<option value="female">Female</option>
										<option value="other">Other</option>
									</select>
								</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-12">
									<textarea name="address" placeholder="Address" class="form-control" id="patient-address" rows="3"></textarea>
									</div>
								</div>

								<div class="form-group row">
									<div class="col-sm-12">
										<input type="password" placeholder="Password" name="password" class="form-control" data-validation="strength" data-validation-strength="2"
										 data-validation-has-keyup-event="true">
									</div>
								</div>

								<!-- Button -->
								<div class="button-btn-block">
									<button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
								</div>
								<!-- /Button -->
								<!-- Linsk -->
								<div class="auth-footer-text">
									<small>Alredy Sign Up,
										<a href="/">Login</a> Here</small>
								</div>
								<!-- /Links -->
							</form>
							<!-- /Form -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Content -->
	</div>
	<!-- Jquery Library-->
	<script src="javascripts/jquery-3.2.1.min.js"></script>
	<!-- Popper Library-->
	<script src="javascripts/popper.min.js"></script>
	<!-- Bootstrap Library-->
	<script src="javascripts/bootstrap.min.js"></script>
	<!-- Custom Script-->
	<script src="javascripts/custom.js"></script>
</body>


</html>
