<!-- Sidebar -->
<nav id="sidebar" class="proclinic-bg">
  <div class="sidebar-header">
    <a href="/doctor"
      ><img src="/images/logo.png" class="logo" alt="logo"
    /></a>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a href="/doctor/patients" aria-expanded="false">
        <span class="ti-wheelchair"></span> Patients
      </a>
    </li>
    <li>
      <a href="/doctor/appointments" aria-expanded="false">
        <span class="ti-pencil-alt"></span> Appointments
      </a>
    </li>
  </ul>
</nav>
<!-- /Sidebar -->
