<nav id="sidebar" class="proclinic-bg">
  <div class="sidebar-header">
    <a href="/patient"
      ><img src="/images/logo.png" class="logo" alt="logo"
    /></a>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a href="/patient"> <span class="ti-home"></span> Dashboard </a>
    </li>
    <li>
      <a
        href="#nav-appointment"
        data-toggle="collapse"
        aria-expanded="false"
      >
        <span class="ti-pencil-alt"></span> Appointments
      </a>
      <ul class="collapse list-unstyled" id="nav-appointment">
        <li>
          <a href="/patient/<%= user.id %>/add-appointment"
            >Add Appointment</a
          >
        </li>
        <li>
          <a href="/patient/<%= user.id %>/appointments"
            >All Appointments</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>
