<div class="row">
  <!-- Widget Item -->
  <div class="col-md-6">
    <div class="widget-area proclinic-box-shadow color-red">
      <div class="widget-left">
        <span class="ti-user"></span>
      </div>
      <div class="widget-right">
        <h4 class="wiget-title">Patients</h4>
        <span class="numeric color-red"><%= patients.length%></span>
        <p class="inc-dec mb-0">
          <span class="ti-angle-up"></span> +20% Increased
        </p>
      </div>
    </div>
  </div>
  <!-- /Widget Item -->
  <!-- Widget Item -->
  <div class="col-md-6">
    <div class="widget-area proclinic-box-shadow color-green">
      <div class="widget-left">
        <span class="ti-bar-chart"></span>
      </div>
      <div class="widget-right">
        <h4 class="wiget-title">Appointments</h4>
        <span class="numeric color-green"
          ><%= appointments.length %></span
        >
        <p class="inc-dec mb-0">
          <span class="ti-angle-down"></span> -15% Decreased
        </p>
      </div>
    </div>
  </div>
  <!-- /Widget Item -->
</div>
